<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- BEAN定义 -->
    <bean id="personService" class="com.sunny.maven.spring.xmlbean.PersonService">
    </bean>

    <!-- 静态工厂创建BEAN -->
    <bean id="personService.staticFactory" class="com.sunny.maven.spring.xmlbean.PersonStaticBeanFactory"
          factory-method="createPersonService">
        <constructor-arg index="0" value="SUNNY"/>
        <constructor-arg index="1" value="20"/>
    </bean>

    <!-- 实例工厂创建BEAN，创建多个工厂 -->
    <bean id="personBeanFactory" class="com.sunny.maven.spring.xmlbean.PersonBeanFactory">
    </bean>
    <bean id="personService.instanceFactory" factory-bean="personBeanFactory" factory-method="createPersonService">
        <constructor-arg index="0" value="SUNNY"/>
        <constructor-arg index="1" value="22"/>
    </bean>

    <!-- 实例工厂BEAN创建BEAN，创建一个工厂BEAN -->
    <bean id="personService.factoryBean" class="com.sunny.maven.spring.xmlbean.PersonFactoryBean">
    </bean>

    <!-- 构造器注入 -->
    <bean id="personService.constructor" class="com.sunny.maven.spring.xmlbean.PersonService">
        <constructor-arg index="0" value="SUNNY"/>
        <constructor-arg index="1" value="18"/>
    </bean>

    <!-- 定义注解扫描路径，在此路径下的注解才能加载 -->
    <context:component-scan base-package="com.sunny.maven.spring.annotation" />
</beans>